<footer class='social-media-wrapper'>
  <div class='social-media-links'>
    <a href='https://github.com/ryahadley'>
    <img src='styles/img/github-icon.png'></a>
    <a href='https://www.linkedin.com/in/ryan-hadley-10830582'>
    <img src='styles/img/linkedin-icon.png'></a>
    <a href="mailto:youeclipsedbyme7@hotmail.com?subject=FromDevMtn"><img src='styles/img/gmail-icon.png'></a>
    <a href='https://www.facebook.com/ryan.hadley.10'>
    <img src='styles/img/facebook.png'></a>

  </div>
  <div class='myCopyright'>&copy {{linkName}}</div>
</footer>
