<div class='header'>

  <section class="nav-bar">
      <div class="character" ng-dblclick='showAdd = !showAdd'>
        <div class='hamgburger' ng-show='showAdd' ng-class='{vis: showAdd}'>
        <section class="personal-info">
          <ul class="person-links">
              <a ui-sref="home"><li id='aboutMe'>Home</li></a>
              <a ui-sref="projects"><li id='projects'>Projects</li></a>
              <a ui-sref="interests"><li id='interests'>Interests</li></a>
              <a ui-sref="goals"><li id='goals'>Goals</li></a>
              <a ui-sref="contact"><li id='contactMe'>Contact Me</li></a>
          </ul>
        </section>
        </div>
      </div>
  </section>

    <section class="personal-info">
        <div class="personal-links">
            <a ui-sref="home"><div class='aboutMe'>Home</div></a>
            <a ui-sref="projects"><div class='projects'>Projects</div></a>
            <a ui-sref="interests"><div class='interests'>Interests</div></a>
            <a ui-sref="goals"><div class='goals'>Goals</div></a>
            <a ui-sref="contact"><div class='contactMe'>Contact Me</div></a>
        </div>
    </section>
</div>
