<main>
    
    <section class="nav-bar">
        <div class="box"></div>
    </section>
    
    <section class="personal-info">
        <ul class="person-links">
            <li>About Me</li>
            <a ui-sref="projects"><li>Projects</li></a>
            <li>Awards</li>
            <li>Goals</li>
            <li>Contact Me</li>
        </ul>
    </section>
   
    <div class="main-content">
    <section class="about-me">
        <h3>About Me</h3>
        <div>
            <p>I'm a full time student at DevMtn learning full MEAN stack gradutaing this summer!<br>
               I want to further my education with UX/UI and graphic design after learning front end and back end.
            </p>
        </div>
    </section>
        
    <section class="project">
        <h3>Projects</h3>
    </section>
        
    <section class="awards">
        <h3>Awards</h3>
    </section>
        
    <section class="goals">
        <h3>Goals</h3>
    </section>
    
    <section class="contact-me">
        <h3>Contact Me</h3>
        <div>
            <ul>
                <li>Email: youeclipsedbyme7@gmail.com</li>
                <li>Find me at DevMountain</li>
                <li>Phone: 801-666-0000</li>
            </ul>
        </div>
    </section>
    </div>
    
    </main>