
    <div class="main-content">
    <section class="about-me">
        <h3>MEAN Stack Dev</h3>

        <div class='languages'>
          <img src="styles/img/jquery.png" alt="jquery" />
          <img src="styles/img/frontend.png" alt="jscsshtml" />
          <img src="styles/img/angular.png" alt="angular" />
        </div>
        <div class='my-paragraph'>
          <hr />
          <br><br>
            <p>I'm a full time student at DevMtn learning full MEAN stack gradutaing this summer!</p>
            <br>
            <p>I want to further my education with UX/UI and graphic design after learning front end and back end.
            </p>
        </div>
    </section>
    </div>
