
<link rel='stylesheet' href='styles/interests.css'>
    <div class="main-content">
    <section class="interests">
        <h3>Interests</h3>
    </section>
    <main>

  <section class="module parallax parallax-1">
  <div class="container">
    <h1>Come</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Being A Mountain Man</h2>
    <p>Most my time is spent in the mountains, camping, fishing, snowboarding, hiking and exploring. As much as I love staring at my computer for hours on end, nature is much more beautiful to stare at.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Back</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Down</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>
    <div ui-view></div>
</div>
